# Python
Backend/venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Env
.env

# Node
Frontend/node_modules/

# Build
dist/
build/

# OS
.DS_Store

#Processed Data files
data/processed_crime_data.csv
data/processed_hospitals.csv
data/hospital_district_summary.csv

#unprocessed data files
data/crime_data.csv
data/hospitals.csv